
  .new__post {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
  }
  
  .new__post_title {
      margin-left: 20px;
      line-height: 47px;
  }
  
  .new__post_area {
    height: 100px
  }
  
  .old__post {
    margin-top: 30px;
  }