:root {
  --main-color: #fcfcfc;
  --second-color: #242424;
  --active-color: #433443;
  --color-header: #0088D2;
  --color-nav: #0088D2;
  --color-person: #00b3d2;
  --color-message: #00d258;
}

.app-wrapper {
  width: 1040px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'header header'
  'nav content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2.5fr 10fr;
  grid-gap: 10px;
  column-gap: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}




